.action {
    display: inline-flex;
    align-items: center;
    color: var(--color-third);
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action:hover {
    color: var(--color-first);
    transition: .2s;
}

.action::before {
    content: "";
    border-radius: 50%;
    display: inline-block;
    background-color: var(--color-first);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}