.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-second);
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFF;
}

.card-project.-blue {
    background-color: var(--color-fourth);
    margin-left: 130px;
    margin-right: 130px;
}