.main-footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 28px 0px;
}

.main-footer .action {
    margin-right: 20px;
    margin-left: 20px;
    transition: transform 0.2s ease-in-out;
}

.main-footer .action:hover {
    transform: scale(1.13);
}