.main-button {
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: var(--color-first);
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
    transition: transform 100ms linear;
    font-size: 20px;
    color: var(--color-third);
    text-decoration: none;
}

.main-button:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.main-button.-full {
    width: 100%;
}