.trick-tech {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.trick-tech .icon {
    margin-right: 25px;
}

.trick-tech .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}